/papers
/large project presentation.pdf
/dataset
/dataset.zip
/segmentation_labels.csv
/mutlitask_dataset.zip
/multitask_dataset
/analyse.ipynb
/multitask_resnet50.pth
/multitasked_dataset_mixed
/create_dataset.ipynb
/project-summary.pdf
/baselines
/trained_models
/utilities/seg_labels.csv
/class_weights.txt
/BD-CeNN_Architecture_Documentation.md
/Symbolic_Feature_Extraction_Pipeline_Documentation.md
/neuro-sym.ipynb
/nn_symbolic_producer.ipynb
/sample_image_begnign.jpg
/sample_image_malign.jpg
/paper_images
