/papers
/large project presentation.pdf
/dataset
/dataset.zip
/segmentation_labels.csv
/mutlitask_dataset.zip
/multitask_dataset
/analyse.ipynb
/multitask_resnet50.pth
/multitasked_dataset_mixed
/create_dataset.ipynb
/project-summary.pdf